<div class="bg-dark w-100 text-center text-white pt-1 mt-2">
  <p class="p-0 m-0">
    Built by &nbsp;
    <a
      href="https://github.com/Ajinkyap22"
      target="_blank"
      rel="noreferrer noopener"
      class="link-danger text-decoration-none"
    >
      Ajinkya Palaskar
    </a>
    &nbsp; | &nbsp;
    <a
      href="https://github.com/Ajinkyap22/inventory-app"
      target="_blank"
      rel="noreferrer noopener"
      class="link-danger text-decoration-none"
    >
      Source code
    </a>
  </p>
</div>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
  crossorigin="anonymous"
></script>
