<!DOCTYPE html>
<html lang="en"></html>
<html>
  <head>
    <%- include('./partials/head') -%>
  </head>
  <body>
    <div class="container-fluid">
      <header><%- include('./partials/header'); -%></header>

      <footer><%- include('./partials/footer'); -%></footer>
    </div>
  </body>
</html>
