html,
body {
  position: relative;
  max-width: 100%;
  height: 100%;
  background-color: #fffffb;
}

/* background, navbar, buttons, fonts, links, borders */

* {
  font-family: "Raleway", sans-serif;
}

.btn-primary,
.navbar {
  background-color: #1f7a8c !important;
}

.main {
  padding-top: 5rem;
}

.list-style-type-none {
  list-style-type: none;
}

.logos {
  width: 100%;
  max-height: 100%;
  object-fit: scale-down;
}

.dist,
.col-sm {
  max-height: 12rem;
}

.col-sm {
  flex: 0 1 auto !important;
}
