html,
body {
  position: relative;
  max-width: 100%;
  height: 100%;
  background-color: #fffffb;
}

* {
  font-family: "Raleway", sans-serif;
}

.btn-primary,
.navbar {
  background-color: #1f7a8c !important;
}

.main {
  padding-top: 5rem;
}

.list-style-type-none {
  list-style-type: none;
}

.logos {
  width: 100%;
  max-height: 100%;
  object-fit: scale-down;
}

.dist,
.col-sm {
  max-height: 12rem;
}

.col-sm {
  flex: 0 1 auto !important;
}

.letter-spacing {
  letter-spacing: 0.5px !important;
}

.btn {
  font-weight: bold !important;
  letter-spacing: 0.5px !important;
}

.kit-form {
  min-height: 100%;
}

.active {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.spinner-border {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 45%;
  left: 47%;
}

.btn:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}

.nav-link:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.footer:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

@media only screen and (max-width: 768px) {
  .image {
    width: 50% !important;
  }

  .subimage {
    width: 50% !important;
  }

  .form-container {
    width: 100% !important;
    display: block !important;
  }
}

@media only screen and (max-width: 500px) {
  .spinner-border {
    left: 40%;
  }
}
