html,
body {
  position: relative;
  max-width: 100%;
  height: 100%;
}

.main {
  padding-top: 4.5rem;
}

.list-style-type-none {
  list-style-type: none;
}

.logos {
  width: 100%;
  max-height: 100%;
  object-fit: scale-down;
}

.dist,
.col-sm {
  max-height: 12rem;
}
